:root {
    font-family: var(--font-family);
}

body {
    margin         : 0;
    display        : flex;
    justify-content: center;
    place-items    : center;
    min-width      : 320px;
    min-height     : 100vh;
}

#app {
    max-width : 1280px;
    margin    : 0 auto;
    padding   : 2rem;
    text-align: center;
}